awscli @ file:///home/conda/feedstock_root/build_artifacts/awscli_1658365574276/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1658360320944/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854164373/work
certifi==2022.6.15
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1656782830073/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215153723/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.11.0
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1649385069444/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1657173995269/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1610127764788/work
dparse @ file:///home/conda/feedstock_root/build_artifacts/dparse_1592271611859/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pyasn1==0.4.8
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1649384802055/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857263093/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
PyYAML==5.4.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1653464393916/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1649033202141/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1649013070954/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1654039987929/work
safety @ file:///home/conda/feedstock_root/build_artifacts/safety_1658162569994/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
supervisor==4.2.4
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
